.test_center {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 20px;
}

.form-login {
    max-width: 600px;
    margin: 16px auto 0;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.form-login-heading {
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    padding: 25px 20px;
    text-align: center;
    background: #fff;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #000;
    font-size: 30px;
    font-weight: 300;
}

.login-wrap {
    padding: 20px;
}

.login-wrap .registration {
    text-align: center;
}

.login-social-link {
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
}

.form-control {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
    height: 45px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.form-control-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
    height: 45px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #567b9e;
    background-image: none;
    border: 1px solid #ccc;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.form-control::-moz-placeholder {
    color: #777;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #777;
}

.form-control::-webkit-input-placeholder {
    color: #777;
}

.mycontainer {
    margin-left: auto;
    margin-right: auto;
}

#container {
    width: 100%;
    height: 30%;
}