<!DOCTYPE html> {% extends "home/base.html" %} {% block title %} About {% endblock %} {% block content %} {% load static %}

<body>
    <section class="section-gap info-area" id="about">
        <div class="container">
            <div class="col-md-5">
                <div class="text-center" style="margin-right:120px;">
                    <h1 class="mb-10">AntMark</h1>
                    <h4>双鸭山大学生的闲置物品交易平台</h4>
                    <br><br>
                </div>
                <div class="info-thumb">
                    <img src="{% static 'img/logo.png' %}" class="img-fluid" width="75%">
                </div>
                <a href="{% url 'users:call_admin' %}" class="btn btn-success btn-lg" style="margin:50px 0 0 24%;">联系管理员</a>
            </div>
            <div class="col-md-6" style="margin-right:20px;">
                <div class="info-content">
                    <h2 >网站介绍<br/></h2>
                    <hr>
                    <p>
                        在初次踏入中大自由的土壤时，面对琳琅满目的商品，你是否有过“挥金如土”之后无奈成为“吃土族”一员的辛酸？
                    </p>
                    <br>
                    <p>
                        每逢开学，当面对昂贵的教材，而手里却握着干瘪瘦弱的钱包时，你是否有过购买旧教材的冲动？
                    </p>
                    <br>
                    <p>
                        在毕业各奔前程之前，当你望着宿舍曾视如珍宝的大件物品，你是否会陷入“携之无力，弃之可惜”的苦恼？
                    </p>
                    <br>
                    <p>
                        那就加入AntMark吧，这是一个让中大莘莘学子轻松处理闲置物品的平台。我们承诺AntMark专注于为中大学生提供舒适便捷的交易体验。
                    </p>
                    <br>
                    <p>
                        AntMark的开发由一群热爱编程的小伙伴完成，目前他们也成了AntMark的管理员哦，欢迎来撩（轻轻点击“联系管理员”即可）~
                    </p>
                    <br>
                </div>
            </div>
        </div>
    </section>
    <!-- End about Area -->

    <hr/>
</body>
{% endblock content %}