<!DOCTYPE html> {% extends "home/base.html" %} {% block title %} Index {% endblock %} {% load static %} {% block content %}

<html lang="zxx" class="no-js">

<body>
    <section class="section-top-border-new project-area section-gap" id="project">
        <div class="container">
            <div class="title text-center">
                <h1 class="mb-10"><i class="fa fa-bullhorn"></i> 公告 </h1>
                <hr>
            </div>
            <div>
                {% for anno in annos %}
                <p>{{ anno.timestamp }}</p>
                <p>{{ anno.title }}</p>
                <p>{{ anno.text }}</p>
                <hr>
                {% endfor %}
            </div>
        </div>
    </section>
</body>

</html>

{% endblock content %}