<!DOCTYPE html> {% extends "home/base.html" %} {% block title %} Index {% endblock %} {% load static %} {% block content %}

<html lang="zxx" class="no-js">

<body>
<section class="project-area section-gap" id="project" style="padding-top: 50px">
    <div class="container">
        <div class="title text-center" style="margin-right:20px;">
            <h1 class="mb-10"><i class="fa fa-bullhorn"></i> 公告 </h1>
            <hr>
        </div>
        <div class="panel-group" id="accordion">
            {% for anno in annos %}
            <div class="panel panel-info" style="margin-right:20px;">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse{{forloop.counter}}">
                            <div class="row">
                                <div class="col-md-2 text-left">
                                    <p class="text-black">
                                        <i class="fa fa-bell-o"></i>
                                        {{ anno.title }}
                                    </p>  
                                </div>
                                <div class="col-md-3 col-md-offset-7 text-right">
                                    <p>
                                        <i class="fa fa-clock-o"></i>
                                        {{ anno.timestamp }}
                                    </p>
                                </div>
                            </div>
                        </a>
                    </h4>
                </div>
                <div id="collapse{{forloop.counter}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ anno.text | linebreaksbr }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
</body>

</html>

{% endblock content %}