<!DOCTYPE html> {% extends "home/base.html" %} {% block title %} Index {% endblock %} {% load static %} {% block content %}

<html lang="zxx" class="no-js">

<body>
    <section class="project-area section-gap" id="project" style="padding-top: 50px">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-30 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">AntMark Index.</h1>
                        <p>Why we have this page? Just for fun n _ n</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>

{% endblock content %}