{% extends 'home/base.html' %}
{% load staticfiles %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/commodity.css' %}">

<div class='container'>
    {% include 'commodity/upslider.html' %}
    <br>
    <div style="margin-bottom: 15px;">
        <span style="color:rgb(238, 22, 87);font-weight: bolder;">说明: 审核通过的商品会置于商品库中，包括已上架和未上架的商品，您可以对商品再次进行修改和删除。
            在修改了商品信息后，该商品将会处于未审核状态，由管理员通过审核后才能将被上架。请谨慎修改商品信息。</span>
    </div>
    <div class="row clearfix">
        {% for commodity in commodities %}{% if commodity.is_verified %}
        <div style="display:inline-block;">
            <div class="single-feature mb-30" style="width:262px; margin-right:12px;">
                {% if commodity.image %}
                <img src="{{ commodity.image | striptags }}" height="200px" class="center-block">
                {% else %}
                <img src="{% static 'img/defaultImage.jpg' %}" height="200px" class="center-block">
                {% endif %}
                <div class="title d-flex flex-row pb-20">
                    <span class="glyphicon glyphicon-gift"></span>
                    <h5 id="line-limit-length">{{commodity.title}}</h5>
                </div>
                <p id="line-limit-length">待售：{{commodity.for_sale}}</p>
                <p id="line-limit-length">标签：{{commodity.commodity_tag}}</p>
                <p id="line-limit-length">货源：{{commodity.commodity_source}}</p>
                <p id="line-limit-length">价格：￥{{commodity.price}}</p>
                <a name="preview" href="{% url 'commodity:preview_commodity' commodity.id %}">
                    <button type="button" class="btn btn-info">预览</button>
                </a>
                <a name="edit" href="{% url 'commodity:edit_commodity' commodity.id %}">
                    <button type="button" class="btn btn-info" style="margin-left:10px">编辑</button>
                </a>
                <a name="delete" href="javascript:" onclick="del_commodity(this, {{commodity.id}})">
                    <button type="button" class="btn btn-danger" style="margin-left:10px">删除</button>
                </a>
            </div>
        </div>
        {% endif %}
        {% empty %}
        {% endfor %}
    </div>
    {% include 'paginator.html' %}
</div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/layer.js' %}"></script>
<script src="{% static 'js/json2.js' %}"></script>
<script type="text/javascript">
    function del_commodity(the, commodity_id) {
        var commodity_name = $(the).parents("div").children("div").children("h4").text();
        // var commodity_name = $(the).parents("div").children("h4").text();
        layer.open({
            type: 1,
            skin: "layui-layer-rim",
            area: ["400px", "200px"],
            title: "删除商品",
            content: '<div class="text-center" style="margin-top:20px"><p>是否确定删除商品：' + commodity_name +
                '</p> </div>',
            btn: ['确定', '取消'],
            yes: function () {
                $.ajax({
                    url: '{% url "commodity:del_commodity" %}',
                    type: "POST",
                    data: {
                        "commodity_id": commodity_id
                    },
                    success: function (e) {
                        if (e == "1") {
                            parent.location.reload();
                            layer.msg("has been deleted.");
                        } else {
                            layer.msg("删除失败");
                        }
                    },
                })
            },
        });
    }
</script>
<script>
    var temp = document.getElementById("upslider1");
    temp.classList.add("active");
</script>
{% endblock %}