{% extends 'home/base.html' %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'editor/css/style.css' %}"> 
<link rel="stylesheet" href="{% static 'editor/css/editormd.css' %}">
<div>
    {% include 'commodity/upslider.html' %}
    <br>
    <div style="margin-left:10px">
        <form class="form-horizontal" enctype="multipart/form-data" action="{% url 'commodity:create_commodity' %}" method="post">{% csrf_token %} 
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2 text-right"><span>商品名称:</span></div>
                <div class="col-md-10 text-left"><input type="text" name="title" required style="width:400px"></div> 
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-md-2 text-right"><span>商品标签:</span></div>
                <div class="col-md-10 text-left">  
                    <select name="tag" required >
                        {% for tag in tags %}
                        <option id="{{tag.id}}" name="tag" value="{{tag.tag}}">{{tag.tag}}</option>
                        {% empty %}
                        {% endfor %}                     
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-md-2 text-right"><span>商品货源:</span></div>
                <div class="col-md-10 text-left">
                    <select name="source" required>
                        {% for source in sources %}
                        <option id="{{source.id}}" name="source" value="{{source.source}}">{{source.source}}</option>
                        {% empty %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2 text-right"><span>商品价格:</span></div>
                <div class="col-md-10 text-left"><input type="number" name="price" min="0" max="10000" step="0.01" required style="width:80px"> 元</div> 
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2 text-right"><span>默认封面:</span></div>
                <div class="col-md-10 text-left"><img src="{% static 'img/defaultImage.jpg' %}" height="200px"></div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2 text-right"><span>商品描述:</span></div>
                <div id="editormd" class="col-md-10 text-left">
                    <script id="container" name="body" type="text/platin"></script>
                </div> 
            </div>         
            <div class="row" style="margin:10px 0px 0px 190px">
                <input type="submit" class="btn btn-info btn-lg" value="提交" onclick="create_commodity()">
            </div>
        </form>
    </div>
</div>

<!-- 
    js函数实现富文本编辑器 
-->
<script src="{% static '/ueditor/ueditor.config.js' %}" type="text/javascript"></script>
<script src="{% static '/ueditor/ueditor.all.js' %}" type="text/javascript"></script>
<script type="text/javascript">
        var ue = UE.getEditor('container',{
            initialFrameWidth: 720,
            initialFrameHeight: 500,
            serverUrl:'/ueditor/controller/?imagePathFormat=ueditorImages/&filePathFormat=ueditorFiles/',
        });
 </script> 

<!-- 
    写js函数create_commodity()实现提交表单功能，上面出现的所有字段都要提交
 -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/layer.js' %}"></script>
<script src="{% static 'js/json2.js' %}"></script>
<script language="javascript">
function create_commodity(){
    var title = $("#id_title").val();
    var body = $("#id_body").val();
    var price = $("#id_price").val();
    // var image = $("#id_image")[0].files[0];
    var tags = [];
    $.each($("input[name='tag']:checked"), function(){tags.push($(this).val());});
    console.log(title);
    console.log(body);
    console.log(price);
    // console.log(image);
    console.log(tags);
    $.ajax({
        url: "{% url 'commodity:create_commodity' %}",
        type: "POST",
        data: {"title":title, "body":body, "price":price, "tags":JSON.stringify(tags)},
        success: function(e){
            if(e=="1"){
                layer.msg("successful");
                location.href = "{% url 'commodity:commodity_list' %}";
            }else if(e=="2"){
                layer.msg("sorry.") ;
            }else{
                layer.msg("商品名称必须写，不能空。");
            }
        },
    });
}   
</script>
<script>
    var temp = document.getElementById("upslider2");
    temp.classList.add("active");
</script>
{% endblock %}


