{% extends 'home/base.html' %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'editor/css/style.css' %}"> 
<link rel="stylesheet" href="{% static 'editor/css/editormd.css' %}">

<div class='container'>
    {% include 'commodity/upslider.html' %}
    <br>
    <div style="margin-bottom: 15px;">
        <span style="color:rgb(238, 22, 87);font-weight: bolder;">说明: 创建商品时请填写完整的信息，商品封面可在创建商品后点击“编辑”添加。</span>
    </div>
    <div style="margin-left:10px">
        <form class="form-horizontal" enctype="multipart/form-data" action="{% url 'commodity:create_commodity' %}" method="post">{% csrf_token %} 
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2 text-right"><span>商品名称:</span></div>
                <div class="col-md-10 text-left"><input type="text" name="title" required style="width:400px"></div> 
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-md-2 text-right"><span>商品标签:</span></div>
                <div class="col-md-10 text-left">  
                    <select name="tag" required >
                        {% for tag in tags %}
                        <option id="{{tag.id}}" name="tag" value="{{tag.tag}}">{{tag.tag}}</option>
                        {% empty %}
                        {% endfor %}                     
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-md-2 text-right"><span>商品货源:</span></div>
                <div class="col-md-10 text-left">
                    <select name="source" required>
                        {% for source in sources %}
                        <option id="{{source.id}}" name="source" value="{{source.source}}">{{source.source}}</option>
                        {% empty %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2 text-right"><span>商品价格:</span></div>
                <div class="col-md-10 text-left"><input type="number" name="price" min="0" max="10000" step="0.01" required style="width:80px"> 元</div> 
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2 text-right"><span>商品描述:</span></div>
                <div id="editormd" class="col-md-10 text-left">
                    <script id="container" name="body" type="text/platin" required></script>
                </div> 
            </div>  
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2 text-right"></div>
                <div class="col-md-10 text-left"><span style="color:red">注：在创建商品成功后，请点击“编辑”上传商品封面，否则无法通过审核</span></div>
            </div>       
            <div class="row" style="margin:10px 0px 0px 190px">
                <div class="col-md-2 text-left">
                    <input type="submit" class="btn btn-info btn-lg" value="提交" onclick="create_commodity()">
                </div>
                <div class="col-md-2 col-md-offset-6 text-left">
                    <input type="button" class="btn btn-danger btn-lg" onclick="cancel()" value="取消">
                </div>
            </div>
        </form>
    </div>
</div>




<script src="{% static '/ueditor/ueditor.config.js' %}" type="text/javascript"></script>
<script src="{% static '/ueditor/ueditor.all.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/layer.js' %}"></script>
<script src="{% static 'js/json2.js' %}"></script>
<script language="javascript"> 
//js函数实现富文本编辑器 
var ue = UE.getEditor('container',{
    initialFrameWidth: 720,
    initialFrameHeight: 500,
    serverUrl:'/ueditor/controller/?imagePathFormat=ueditorImages/&filePathFormat=ueditorFiles/',
});

function cancel(){
    if(confirm("您确定要关闭本页面吗？")){
        window.history.back(-1); 
    }
}

//写js函数create_commodity()实现提交表单功能，上面出现的所有字段都要提交
function create_commodity(){
    var title = $("#id_title").val();
    var body = $("#id_body").val();
    var price = $("#id_price").val();
    var tags = [];
    $.each($("input[name='tag']:checked"), function(){tags.push($(this).val());});
    $.ajax({
        url: "{% url 'commodity:not_verified_list' %}",
        type: "POST",
        data: {"title":title, "body":body, "price":price, "tags":JSON.stringify(tags)},
        // async: false,
        success: function(e){
            if(e=="2"||e=="3"){
                layer.msg("请检查填写的商品信息！");
            }
        },
    });
}   

var temp = document.getElementById("upslider2");
temp.classList.add("active");
</script>
{% endblock %}


