{% extends 'home/base.html' %} {% load staticfiles %} {% block content %}

<link rel="stylesheet" href="{% static 'editor/css/style.css' %}"> 
<link rel="stylesheet" href="{% static 'editor/css/editormd.css' %}">
<div>
    <br>
    <div style="margin-left:10px">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2 text-right"><span>商品封面:</span></div>
                <div class="col-md-10 text-left">
                    {% if commodity.image %}
                    <img src="{{commodity.image | striptags}}" height="200px" >
                    {% else %}
                    <img src="{% static 'img/defaultImage.jpg' %}" height="200px">
                    {% endif %}
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2 text-right"><span>商品名称:</span></div>
                <div class="col-md-10 text-left">{{commodity.title}}</div> 
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-md-2 text-right"><span>商品标签:</span></div>
                <div class="col-md-10 text-left">{{commodity.commodity_tag}}</div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-md-2 text-right"><span>商品货源:</span></div>
                <div class="col-md-10 text-left">{{commodity.commodity_source}}</div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2 text-right"><span>商品价格:</span></div>
                <div class="col-md-10 text-left">￥{{commodity.price}}</div> 
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2 text-right"><span>商品描述:</span></div>
                <div id="editormd" class="col-md-10 text-left" style="border:1px solid rgb(230, 230, 230); padding: 10px; overflow-x: hidden;" >
                    {% autoescape off %}
                    {{commodity.body}}
                    {% endautoescape %}
                </div> 
            </div>         
    </div>
</div>
{% endblock %}
