{% extends 'home/base.html' %} {% load staticfiles %} {% block content %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<div class="row">
    <hr style="margin-left:10px; margin-right: 10px;">
    <!-- 左侧主要边框 -->
    <div class="col-md-10" style="margin-bottom: 30px">

        <!-- 上半部分商品信息 -->
        <div class="row">

            <!-- 左边大图 -->
            <div class="col-md-5" style="padding: 5px; width: 390px; height: 390px; margin:0px 5px 0px 5px;">
                {% if commodity.image %}
                <img src="{{commodity.image | striptags}}" height="380px" class="center-block">
                {% else %}
                <img src="{% static 'img/defaultImage.jpg' %}" height="380px" class="center-block">
                {% endif %}
            </div>

            <!-- 中间的商品信息 -->
            <div class="col-md-7">
                <div class="thumbnail" style="height: 380px">
                    <div class="caption" style="font-size: 18px;">
                        <h3 style="margin-bottom: 20px">{{commodity.title}}</h3>

                        <div class="row" style="margin-top:12px;">
                            <div class="col-md-2 text-left">价格：</div>
                            <div class="col-md-10 text-left">￥{{commodity.price}}</div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2 text-left">卖家：</div>
                            <div class="col-md-10 text-left"><a
                                    href="{% url 'users:personal_index' commodity.owner.id %}">{{commodity.owner.user.nickname}}</a>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2 text-left">货源：</div>
                            <div class="col-md-10 text-left">{{commodity.commodity_source}}</div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2 text-left">标签：</div>
                            <div class="col-md-10 text-left">{{commodity.commodity_tag}}</div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-3 text-left">创建时间：</div>
                            <div class="col-md-9 text-left">{{commodity.created}}</div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-3 text-left">上架日期：</div>
                            <div class="col-md-9 text-left">{{commodity.updated}}</div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:-80px;margin-left:auto">
                    <div class="col-md-2 text-left">
                        <a href="{% url 'chatroom:start_chat' commodity.owner.id commodity.id %}"
                            class="btn btn-info btn-lg">联系卖家</a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <hr>

        <!-- 下半部分商品详情 -->
        <div class="row">
            <!-- <div class="col-md-3"></div> -->
            <div class="col-md-11">
                <h3>商品详情</h3>
                <br>
                <div style="border:1px solid rgb(230, 230, 230); padding: 10px; overflow-x: hidden;">
                    {% autoescape off %}
                    {{commodity.body}}
                    {% endautoescape %}
                </div>

            </div>
            
        </div>
        
    </div>

    <!-- 右侧边栏 -->
    <div class="col-md-2">
        <h4><span class="glyphicon glyphicon-gift">随机推荐</span></h4>
        <hr>
        {% for similar_commodity in similar_commodities %}
        <!-- <div style="margin:30px 0px"> -->
        <div class="thumbnail" style="margin:30px 0px">
            <a href="{% url 'commodity:commodity_detail' similar_commodity.id %}"><img
                    src="{{similar_commodity.image | striptags}}" width="150px"></a>
            <a href="{% url 'commodity:commodity_detail' similar_commodity.id %}">
                <p style="text-align:center;width:150px;margin-top:5px">{{similar_commodity.title}}</p>
            </a>
        </div>
        {% empty %}
        {% endfor %}
    </div>
</div>
{% endblock %}