{% extends 'home/base.html' %} {% load staticfiles %} {% block content %}
<style>
    #line-limit-length {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 200px;
    }
</style>
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
<div class="container">
    {% include 'commodity/search.html' %}
    <div id="search" class="col-md-12 column">
        <form class="navbar-form navbar-left" role="search" action="{% url 'commodity:search_commodity' %}" method="POST">{% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="keyword" style="width:400px; margin-left: 250px;"/>
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
        </form>
    </div>

    <h1>所有商品</h1>
    <hr>
    <div class="row clearfix">
        {% for commodity in commodities %} {% if commodity.for_sale and commodity.amount %}
        <div class="col-md-3 column">
            <div class="single-feature mb-30">
                <a href="{% url 'commodity:commodity_detail' commodity.id %}">
                    <img src="{{commodity.image.url}}" height="200px"  class="center-block">
                </a>
                <div class="title d-flex flex-row pb-20">
                    <span class="glyphicon glyphicon-gift"></span>
                    <h5 id="line-limit-length"><a href="{% url 'commodity:commodity_detail' commodity.id %}">{{commodity.title}}</a></h5>
                </div>
                <!-- <p id="line-limit-length">卖家：{{commodity.owner}}</p> -->
                <!-- <p id="line-limit-length">标签：{{commodity.commodity_tag.all|join:", "}}</p> -->
                <p id="line-limit-length">货源：{{commodity.commodity_source.all|join:", "}}</p>
                <p id="line-limit-length">价格：￥{{commodity.price}}</p>
                <!-- <p id="line-limit-length">数量：{{commodity.amount}}</p> -->
                <div align="right">
                    <a></a><span class="glyphicon glyphicon-menu-right"></span>
                </div>
            </div>
        </div>
        {% endif %} {% empty %} {% endfor %}
    </div>
    {% include 'paginator.html' %}
</div>
{% endblock %}