{% extends "base.html" %} {% load staticfiles %} {% block content %}

<style>    
    #test2 {
        margin: 10px 50px 10px 0px;
        width: 150px;
        height: 40px;
        background-color: rgb(240, 96, 168);
        color: aliceblue;
        font-size: 1.4em;
    }
</style>

<div class="row">
    <hr>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-5">
                <img src="{{commodity.image.url}}" height="400px">
            </div>
            <div class="col-md-7">
                <h2>{{commodity.title}}</h2>
                <br>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2 text-left">价格：</div>
                    <div class="col-md-10 text-left">￥{{commodity.price}}</div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2 text-left">卖家：</div>
                    <div class="col-md-10 text-left"><a href = "#">{{commodity.owner}}</a></div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2 text-left">货源：</div>
                    <div class="col-md-10 text-left">{{commodity.commodity_source.all|join:", "}}</div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-2 text-left">数量：</div>
                    <div class="col-md-10 text-left">{{commodity.amount}}</div>
                </div>
                <button type="button" id="test2">联系卖家</button>
            </div>     
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <h4>商品详情</h4>
                <div style="border:1px solid rgb(230, 230, 230); padding: 10px;">
                    {% autoescape off %}
                    {{commodity.body}}
                    {% endautoescape %}
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-2 ">
        <h2>你可能喜欢</h2>
        <hr>
        {% for similar_commodity in similar_commodities %}
        <div style="margin:30px 0px">
            <a href="{% url 'commodity:commodity_detail' similar_commodity.id %}"><img src="{{similar_commodity.image.url}}" width="150px"></a>
            <a href="{% url 'commodity:commodity_detail' similar_commodity.id %}">
                <p style="text-align:center">{{similar_commodity.title}}</p>
            </a>
        </div>
        {% empty %}
        {% endfor %}
    </div>
</div> 
{% endblock %}
