{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style>
    #test1{
        display: inline-block;
        border: 1px solid pink;
        margin: 20px 10px;
        padding: 0px 10px;
        width: 250px;
        height: 380px;
    }
</style>


<div id="search" class="col-md-12 column">
<form class="navbar-form navbar-left" role="search" action="{% url 'commodity:search_commodity' %}" method="POST">{% csrf_token %}
	<div class="form-group">
		<input type="text" class="form-control" name="keyword" />
	</div> 
    <button type="submit" class="btn btn-default">搜索</button>
</form>
</div>

<div>
    <h1>搜索结果</h1>
    <hr>
    {% for commodity in commodities %}
    {% if commodity.for_sale and commodity.amount %}
    <div id = "test1">
        <h4><a href="{% url 'commodity:commodity_detail' commodity.id %}">{{commodity.title}}</a></h4>
        <a href="{% url 'commodity:commodity_detail' commodity.id %}"><img src="{{commodity.image.url}}" height="200px" ></a>
        <p>出售人：{{commodity.author}}</p>
        <p>标签：{{commodity.commodity_tag.all|join:", "}}</p>
        <p>货源：{{commodity.commodity_source.all|join:", "}}</p>
        <p>价格：￥{{commodity.price}}</p>
        <p>数量：{{commodity.amount}}</p>
    </div>
    <!-- {% endif %} -->
    {% empty %}
    <h1>No</h1>
    {% endfor %}
    {% include 'paginator.html' %}
</div>
{% endblock %}

