{% extends 'home/base.html' %} {% load staticfiles %} {% block content %}
<style>
    #line-limit-length {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 200px;
    }
</style>

<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">


<div class="container">
 
    <div id="search" class="col-md-12 column">
        <form class="navbar-form navbar-left" role="search" action="{% url 'commodity:search_commodity' %}" method="POST">{% csrf_token %}
            <div class="form-group" style="margin-left:200px;">
                <div class="input-group" >
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input type="text" class="form-control" style="width:300px;" placeholder="请输入关键字" name="keyword" />
                    <button type="submit" class="btn btn-primary">搜索</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12 column">
        <div>
            <form class="form-horizontal" action="{% url 'commodity:search_commodity' %}" method="post">{% csrf_token %}
                <div class="row" style="margin-top: 10px">
                    <input name="keyword" type="hidden" value="{{ keyword }}">
                </div>                
                <div class="row" style="margin-top: 10px" >
                    <div class="col-md-1 text-left"><span>商品标签:</span></div>
                    <div class="col-md-11 text-left">
                        <label class="checkebox-inline">
                            <input class="tagcheckbox" type="radio" id="0" name="tag" value="0">全部
                            {% for tag in tags %}
                            <input class="tagcheckbox" type="radio" id="{{tag.id}}" name="tag" value="{{tag.tag}}">{{tag.tag}}
                            {% empty %}
                            {% endfor %}
                        </label>  
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-1 text-left"><span>商品货源:</span></div>
                    <div class="col-md-11 text-left">
                        <label class="checkebox-inline">
                            <input class="tagcheckbox" type="radio" id="0" name="source" value="0">全部
                            {% for source in sources %}
                            <input class="tagcheckbox" type="radio" id="{{source.id}}" name="source" value="{{source.source}}">{{source.source}}
                            {% empty %}
                            {% endfor %}
                        </label>                
                    </div>
                </div>
                <div class="row" style="margin-top: 10px; margin-left: 0px;">
                    <input type="submit" class="btn btn-primary btn-default" value="筛选">
                </div>
            </form>
        </div>
    </div>    
    <hr>
    <h3>搜索结果</h3>
    <hr>
    <div class="row clearfix">
        {% for commodity in commodities %} {% if commodity.for_sale and commodity.is_verified %}
        <div style="display:inline-block;">
            <div class="single-feature mb-30" style="width:220px; margin-right:10px; padding: 10px;">
                <a href="{% url 'commodity:commodity_detail' commodity.id %}">
                    <img src="{{commodity.image | striptags}}" height="200px">
                </a>
                <div class="title d-flex flex-row pb-20">
                    <span class="glyphicon glyphicon-gift"></span>
                    <h4><a href="{% url 'commodity:commodity_detail' commodity.id %}">{{commodity.title}}</a></h4>
                </div>
                <p id="line-limit-length">货源：{{commodity.commodity_source}}</p>
                <p id="line-limit-length">价格：￥{{commodity.price}}</p>
                <div align="right">
                    <a></a><span class="glyphicon glyphicon-menu-right"></span>
                </div>
            </div>
        </div>
        {% endif %} {% empty %} {% endfor %}
    </div>
    {% include 'paginator.html' %}
</div>
{% endblock %}