{% extends 'home/base.html' %} {% load staticfiles %} {% block content %}

<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/commodity.css' %}">

<div class="container">

    <div class="search_container container" style="margin-bottom:20px;margin-top:5px;margin-left:10%">
        <form action="{% url 'commodity:search_commodity' %}" class="search_parent" method="POST">
            <div class="form-group" style="margin-left:80px;"> 
                <div class="input-group" >
                    <div class="input-group-btn">
                        <select name="source" class="btn btn-default dropdown-toggle">
                            <option id="0" name="source" value="0">全校</option>
                            {% for source in sources %}{% if source.id == sourceChoice %}
                            <option id="{{source.id}}" name="source" value="{{source.id}}" selected>{{source.source}}</option>
                            {% else %}
                            <option id="{{source.id}}" name="source" value="{{source.id}}">{{source.source}}</option>
                            {% endif %}{% empty %}{% endfor %}
                        </select>
                    </div>
                    <input type="text" class="form-control" style="width:500px;" value="{{keyword}}" name="keyword" />
                    <button type="submit" class="btn btn-primary">搜索</button>
                </div>
            </div>
        </form>
    </div>

    <div class="container filter_container" style="margin:5px auto 10px">
        <form id="filter_form" class="form-horizontal" action="{% url 'commodity:search_commodity' %}" method="post">{% csrf_token %}
            <div class="row">
                <input name="keyword" type="hidden" value="{{ keyword }}">
            </div>  
            <div class="row">
                <input name="source" type="hidden" value="{{ sourceChoice }}">
            </div>                            
            <div class="row">
                <div class="col-md-1 text-left"><span>商品标签:</span></div>
                <div class="col-md-11 text-left">
                    <input id="check_all" type="checkbox" name="check_all" value="true" {%if 0 in is_checked%}checked{%endif%}/>
                    <label for="check_all">全部类别</label>

                    {% for tag in tags %}
                    <input id="{{tag.id}}" type="checkbox" name="tag" value="{{tag.id}}" {%if tag.id in is_checked%}checked{%endif%}/>
                    <label for="{{tag.id}}">{{tag.tag}}&nbsp;</label>
                    {% empty %}
                    {% endfor %}
                </div>
            </div>
        </form>
    </div>

    <div style="margin-top:15px;margin-bottom:0px">
        <h3>搜索结果</h3>
        <hr style="margin-top: 10px">
    </div>
    
    <div class="row clearfix">
        {% for commodity in commodities %} {% if commodity.for_sale and commodity.is_verified %}
        <div style="display:inline-block;">
            <div class="single-feature mb-30" style="width:220px; margin-right:10px; padding: 10px;">
                <a href="{% url 'commodity:commodity_detail' commodity.id %}">
                    <img src="{{commodity.image | striptags}}" height="200px">
                </a>
                <div class="title d-flex flex-row pb-20">
                    <span class="glyphicon glyphicon-gift"></span>
                    <h4><a href="{% url 'commodity:commodity_detail' commodity.id %}">{{commodity.title}}</a></h4>
                </div>
                <p id="line-limit-length">货源：{{commodity.commodity_source}}</p>
                <p id="line-limit-length">价格：￥{{commodity.price}}</p>
                <div align="right">
                    <a></a><span class="glyphicon glyphicon-menu-right"></span>
                </div>
            </div>
        </div>
        {% endif %} 
        {% empty %} 
        <h1>找不到该商品</h1>
        {% endfor %}
    </div>
    {% include 'paginator.html' %}
</div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/layer.js' %}"></script>
<script src="{% static 'js/json2.js' %}"></script>
<script type="text/javascript"> 
/*绑定复选框事件*/
$("#filter_form input[name=tag]").each(function(){
    $(this).change(function(){
        //移除“全部类别”的勾选
        $('#check_all').removeAttr("checked");
        //提交表单
        $('#filter_form').submit();
    });
});
 
//“全部类别”的复选框
$("#check_all").change(function(){
    //判断是否选中“全部类别”，才去掉其他类别的勾选，并提交表单
    if($("#check_all").is(':checked')){
        $("#filter_form input[name=tag]").each(function(){
            $(this).removeAttr("checked");
        });
        //提交表单
        $('#filter_form').submit();
    }
});

</script>
{% endblock %}