<!DOCTYPE html> {% extends "home/base.html" %} {% load staticfiles %} {% load bootstrap4 %} {% load base %} {% block content %}

<script>
    //选中发件箱中的所有邮件
    function select_all_sendmsg() {
        var select_box = document.getElementById("send_select_all")
        var boxs = document.getElementsByName("checkbox_list");
        var flag = select_box.checked
        for (var i = 0; i < boxs.length; i++) {
            boxs[i].checked = flag;
        }
    }

    //警告框
    function delOutboxMsgConfirm() {
        event.returnValue = confirm("是否从'发件箱中'删除已经选择的信息？")
    }
</script>

<body>
    <div class="section-top-border-new">
        <h1><i class="fa fa-envelope-open-o"></i> 发件箱</h1>
        <br/>
        <div style="float:right">
            <a href="{% url 'users:mail_inbox' %}" class="btn btn-success">收件箱</a>
            <a href="{% url 'users:mail_outbox' %}" class="btn btn-info">发件箱</a>
        </div>
        <br/>

        <div class="section" id="outbox">
            <form action="{% url 'users:deal_mult_msg' %}" enctype="multipart/form-data" method="POST" class="form">{% csrf_token %}
                <button type="submit" class="btn btn-info" name="delete_msg" onclick="delOutboxMsgConfirm()">删除</button><br/><br/>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="send_select_all" onclick="select_all_sendmsg()"></th>
                            <th>时间</th>
                            <th>收信人</th>
                            <th>信件内容</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for message in outbox_messages %}
                        <tr>
                            <td><input type="checkbox" name="checkbox_list" value='{{message.id}}'></td>
                            <td>{{ message.timestamp|date:'M d, Y H:i' }}</td>
                            <td>{{ message.receiver|getUserNickname }}({{ message.receiver }})</td>
                            {% if message.text|length > 40 %}
                            <td>{{ message.text|slice:'0 : 40' }} . . .</td>
                            {% else %}
                            <td>{{ message.text}}</td>
                            {% endif %}
                            <td>
                                <a href="{% url 'users:read_message' message.id %}" title="查看信件">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'users:del_message' message.id %}" title="删除" onclick="delOutboxMsgConfirm()">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>No message.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
            <br/>
        </div>
        <a href="{% url 'users:call_admin' %}" class="btn btn-default">联系管理员</a>
        <a href="#" class="btn btn-default" style="background-color: white">回到顶部</a>
    </div>
</body>
{% endblock content %}