<!DOCTYPE html> {% extends "home/base.html" %} {% load widget_tweaks %} {% block content %}

<body>
    <div class="section-top-border">
        <center>
            <h2>Reset Password</h2>
        </center>
        <hr/>
        <div style="width: 550px; margin: 0 auto">
            <form class="form-users myforms" method="post" action="{% url 'users:reset_pwd' %}" novalidate>
                {% csrf_token %} {% for field in form %}
                <div class="form-group">
                    <span>{{ field.label }}</span> {{ field | add_class:"form-control"}}
                    <p class="error-message text-danger">
                        {% for error in field.errors %} {{ error }} {% endfor %}
                    </p>
                </div>
                {% endfor %}
                <center>
                    <button name="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-outline-primary" href="javascript:history.go(-1)">Go Back</a>
                </center>
            </form>
        </div>
    </div>
</body>
{% endblock content %}