{% load staticfiles %}

<!DOCTYPE html>
<html lang='zh-cn'>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block head %}
	<link rel="shortcut icon" href="../../../static/img/logo_antmark2.png">
	<link rel="icon" type="image/x-icon" href="{% static 'img/head.png' %}">
	{% endblock %}
	<title>{% block title %}AntMark{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

{% include 'header.html' %}
<body style="background-image: url({% static 'img/background2.png' %});background-size:100% 150%;">
	<div class="container" style="background-image: url({% static 'img/background2.png' %});background-size:100% 150%;">
		
		{% block content %}{% endblock %}
		{% include 'footer.html' %}
	</div>
	{% block javascript %}{% endblock %}
</body>


</html>