{% load staticfiles %}
<div>
	<nav class = 'navbar navbar-default' role = 'navigation'>
		<div class = 'navbar-header'>
			<a class = 'navbar-brand' href = "#"><img src="{% static '/images/logo.png' %}" width="40px" style="margin-top:-10px"></a>
		</div>
		<div>
			<ul class = 'nav navbar-nav' role = 'navigation'>
				<li><a href = "{% url 'home:index' %}">主页</a></li>
				<li><a href = "#">商品</a></li>
			</ul>
			<ul class = 'nav navbar-nav navbar-right' style = 'margin-right:10px'>
				{% if user.is_authenticated %}
				<li>
					<div class = 'dropdown' style = 'margin-top:8px'>
						<button class = 'btn btn-default dropdown-toggle' type = 'button' id = 'dropdownMenu' data-toggle = 'dropdown'>
							{{user.username}}
							<span class = 'caret'></span>
						</button>
						<ul class = 'dropdown-menu'>
							<li><a href = '#'>修改密码</a></li>
							<li><a href = "#">个人信息</a></li>
							<li><a href = "#">管理后台</a></li>
						</ul>
					</div>
				</li>

				<li><a href = '#'>退出</a></li>
				{% else %}
				<li><a href="#">登录</a></li>
				<li><a href="#">注册</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
</div>

<script src = "{% static 'js/jquery.js' %}"></script>
<script src = "{% static 'js/bootstrap.js' %}"></script>
