<!DOCTYPE html> {% extends "home/base.html" %} {% block title %} AntMark {% endblock %} {% load static %} {% load base %} {% block content %}

<html lang="zxx" class="no-js">

<head>
    <!-- 每隔30s刷新一次 -->
    <meta http-equiv="refresh" content="30">
</head>

<body>
    <div class="section-top-border">
        <h1>聊天列表</h1>
        <br/>
        <div class="section">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Rooms</th>
                        <th>Commodity</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for room in rooms %} {% if room|is_del:request.user %}
                    <tr class="table-info">
                        {% ifequal room.member1 request.user %}
                        <td>
                            {{ room.member2|getUserNickname }} {% if room.member2 == room.commodity.owner %} (卖家) {% endif %}
                        </td>
                        <td>{{ room.commodity }}</td>
                        <td>
                            <a href="{% url 'chatroom:room_detail' room.id %}">点击进入聊天</a>
                        </td>
                        <td>
                            {% if room.mem1_read == False %}
                            <span style="color: red">new messages</span> {% endif %}
                        </td>
                        {% else %}
                        <td>
                            {{ room.member1|getUserNickname }} {% if room.member1 == room.commodity.owner %} (卖家) {% endif %}
                        </td>
                        <td>{{ room.commodity }}</td>
                        <td>
                            <a href="{% url 'chatroom:room_detail' room.id %}">点击进入聊天</a>
                        </td>
                        <td>
                            {% if room.mem2_read == False %}
                            <span style="color: red">new messages</span> {% endif %}
                        </td>
                        {% endifequal %}
                    </tr>
                    {% endif %} {% empty %}
                    <tr>
                        <td>No Chat Room.</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

<script language="javascript">
</script>

</html>


{% endblock content %}