<!DOCTYPE html> {% extends "home/base.html" %} {% load staticfiles %} {% load bootstrap4 %} {% load base %}
{% block content %}

<html lang="zxx" class="no-js">

<head>
    <link rel="stylesheet" href="{% static 'css/room_detail.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript">
        function scroll_to_button() {
            $('#display_block').scrollTop($('#display_block')[0].scrollHeight);
        }

        function delRoomConfirm() {
            event.returnValue = confirm("确认删除该聊天室吗，聊天记录将不被保存！")
        }

        var scroll_mode = true; //true接收到信息时滑动到底部，false则不会

        function set_scroll_flag() {
            if (scroll_mode) {
                document.getElementById('scroll_mode').value = "聊天框滑动模式：手动";
                scroll_mode = false;
            } else {
                document.getElementById('scroll_mode').value = "聊天框滑动模式：自动";
                scroll_mode = true;
            }
        }

        var update_chat = function () {
            var last_msg_id = $('#display_block > .message_block').last().data('id');
            $.ajax({
                url: "{% url 'chatroom:get_messages' room.id %}",
                data: {
                    last: last_msg_id
                },
                success: function (data) {
                    // console.log(data)
                    $('#display_block').append(data);
                    if (scroll_mode) {
                        $('#display_block').scrollTop($('#display_block')[0].scrollHeight);
                    }
                }
            });
        };

        $(function () {
            setInterval(update_chat, 2000);
            $('textarea').on('keydown', function (event) {
                if (event.keyCode == 13) {
                    if (!event.shiftKey) {
                        $('#create_message').submit();
                    };
                };
            });
            $('.img').click(function () {
                $(this).toggleClass('img_min');
                $(this).toggleClass('img_max');
            });
            $('#display_block').scrollTop($('#display_block')[0].scrollHeight);
            $('#create_message').on('submit', post_message);
            $('#id_content').focus();
        });
    </script>
</head>

<body>
    <div>

        <br /> {% ifequal room.member1 request.user %}
        <h4>您正在与{{ room.member2|getUserNickname }}聊天 {% if room.mem2_del %} <span
                style="color: red">(另一用户已删除该聊天室，你发送的消息将无法被接收)</span> {% endif %} </h4>
        {% else %}
        <h4>您正在与{{ room.member1|getUserNickname }}聊天 {% if room.mem1_del %} <span
                style="color: red">(另一用户已删除该聊天室，你发送的消息将无法被接收)</span> {% endif %} </h4> {% endifequal %}

        <div class="display_block" id="display_block">
            {% for msg in messages %}
            <div class="message_block" id="{{ msg.id }}" data-id='{{ msg.id }}' name="message_block">
                {% ifequal msg.sender request.user %}
                <div class="message_right">
                    <!-- <br/> -->
                    <p> {{ msg.timestamp }} </p>
                    <!-- <p> {{ msg.sender|getUserNickname }} </p> -->
                    <div class="message_content">
                        {% ifnotequal msg.content "" %}
                        <p>{{ msg.content }}</p>
                        {% endifnotequal %} {% ifnotequal msg.image "" %}
                        <img class="img_min" src="/media/{{msg.image}}"> {% endifnotequal %}
                    </div>
                </div>
                {% else %}
                <div class="message_left">
                    <!-- <br/> -->
                    <p> {{ msg.timestamp }} </p>
                    <!-- <p> {{ msg.sender|getUserNickname }} </p> -->
                    <div class="message_content">
                        {% ifnotequal msg.content "" %}
                        <p>{{ msg.content }}</p>
                        {% endifnotequal %} {% ifnotequal msg.image "" %}
                        <img class="img_min" src="/media/{{msg.image}}"> {% endifnotequal %}
                    </div>
                </div>
                {% endifequal %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="commodity_detail">
        {% ifequal room.commodity.owner request.user %}
        <h4>TA正在咨询商品：{{ room.commodity.title}}</h4>
        {% else %}
        <h4>你正在咨询商品：{{ room.commodity.title}}</h4>
        {% endifequal %}
        <br/>
        <img src="{{ room.commodity.image | striptags}}" height="320px" style="margin:10px 0">
        <p>卖家：{{ room.commodity.owner|getUserNickname }}</p>
        <p>标签：{{ room.commodity.commodity_tag }}</p>
        <p>货源：{{ room.commodity.commodity_source }}</p>
        <p>价格：￥{{ room.commodity.price }}</p>
        {% comment %} <p>数量：{{ room.commodity.amount }}</p> {% endcomment %}
    </div>
    <div class="input_field">
        <form id="chatForm" class="form" method="post" enctype="multipart/form-data"
            action="{% url 'chatroom:room_detail' room.id %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="text" id="text" class="form-control" />
                <span>图片(仅支持英文文件名)</span>
                <input type="file" name="image" id="image" class="form-control" />
                <input type="hidden" name="post_type" value="send_chat" />
            </div>
            <div style="float:right">
                <button type="submit" class="btn btn-primary">发送</button>
                <a class="btn btn-danger" href="{% url 'chatroom:room_list' %}">返回</a>
            </div>
        </form>{{ form.media }}
    </div>

    <div class="function_block">
        <div class="function_button">
            <button type="button" class="btn btn-primary" onclick="scroll_to_button()">滑动到底端</button>
            <a href="{% url 'commodity:commodity_detail' room.commodity.id %}" class="btn btn-primary">查看商品详情</a>
            <input id="scroll_mode" type="button" onclick="set_scroll_flag()" class="btn btn-primary"
                value="聊天框滑动模式：自动">
        </div>
        <div class="function_button">
            <a href="{% url 'chatroom:chat_intro' %}" class="btn btn-success">使用说明书</a>
            <a href="{% url 'users:personal_index' room.commodity.owner.id %}" class="btn btn-primary">进入卖家主页</a>
            <a href="{% url 'chatroom:del_room' room.id request.user.id %}" class="btn btn-danger"
                onclick="delRoomConfirm()">删除聊天室</a>
        </div>
    </div>

</body>

</html>

{% endblock content %}