<!DOCTYPE html> {% extends "home/base.html" %} {% block title %} Index {% endblock %} {% load static %} {% block content %}

<html lang="zxx">

<script>
    //向消息发送框中填入审核成功的消息
    function addSuccessMsg() {
        document.getElementById('failmsg').style.display = 'none'
        document.getElementById('unverified').checked = false;
        document.getElementById('text').value = "信息合法，学生身份审核通过。"
    }

    //提供默认的失败消息模板以供选择
    function displayFailMsgBlock() {
        document.getElementById('verified').checked = false;
        document.getElementById('text').value = "学生认证审核未通过，原因如下："
        var unverified = document.getElementById('unverified')
        var failmsgblock = document.getElementById('failmsg')
        if (unverified.checked == false)
            failmsgblock.style.display = 'none'
        else
            failmsgblock.style.display = 'block'
    }

    function addFailMsg(msg) {
        document.getElementById('text').value += msg;
    }
</script>

<body>
    <section class="project-area section-gap" style="padding-top: 20px">
        <div class="container">
            <div class="title text-center">
                <h2 class="mb-10">学生身份认证审核</h2>
            </div>
            <br/>
            <div>
                <div class="profile_border" style="float: left">
                    <p>用户头像:</p>
                    <img style="height: 300px" src="/media/{{stu_info.profile}}">
                </div>
                <div style="float: left; padding-left:40px">
                    <p>用户个人信息：</p>
                    <br/>
                    <p>Username: {{ stu_user.username }}</p>
                    <p>Nickname: {{ stu_info.nickname }}</p>
                    <p>Gender: {{ stu_info.gender }}</p>
                    <p>Introduce: {{ stu_info.intro }}</p>
                    <p>Phone: {{ stu_info.phone }}</p>
                    <p>Wechat: {{ stu_info.wechat }}</p>
                    <p>QQ: {{ stu_info.qq }}</p>
                </div>
                <div class="profile_border" style="float: right">
                    <p>用户校园卡照片</p>
                    <img style="height: 300px" src="/media/{{stu_info.stuCardPhoto}}">
                </div>
                <div class="clear"></div>
                <hr/>
                <form action="{% url 'admin_manage:stu_verify_detail' message.id stu_user.id %}" method="POST" class="form">{% csrf_token %}
                    <input type="checkbox" name="verified" id='verified' onclick="addSuccessMsg()">审核通过
                    <input type="checkbox" name="unverified" id='unverified' onclick="dsisplayFailMsgBlock()">审核不通过
                    <div id="failmsg" style="display: none">
                        <p>快捷回复：</p>
                        <p>
                            <input type="checkbox" onclick="addFailMsg('#校园卡/学生证照片不清晰 ')">
                            <span>校园卡/学生证照片不清晰</span>
                        </p>
                        <p>
                            <input type="checkbox" onclick="addFailMsg('#请上传能够证明学生身份的照片 ')">
                            <span>请上传能够证明学生身份的照片</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="text">信息内容：</label>
                        <textarea class="form-control" rows="2" name="text" id="text"></textarea>
                    </div>
                    <div style="float: right">
                        <button type="submit" class="btn btn-primary ">提交审核结果</button>
                        <a class="btn btn-outline-primary " href="javascript:history.go(-1) ">返回上一步</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>

{% endblock content %}